@font-face {
  font-family: 'tezos-icons';
  src:  url('fonts/tezos-icons.eot');
  src:  url('fonts/tezos-icons.eot') format('embedded-opentype'),
    url('fonts/tezos-icons.ttf') format('truetype'),
    url('fonts/tezos-icons.woff') format('woff'),
    url('fonts/tezos-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tezos-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e90e";
}
.icon-letter:before {
  content: "\e90f";
}
.icon-pop-out:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-warning-circle:before {
  content: "\e912";
}
.icon-x-thick:before {
  content: "\e913";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-caret-left:before {
  content: "\e903";
}
.icon-caret-right:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e906";
}
.icon-ellipsis:before {
  content: "\e907";
}
.icon-gear:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-question-mark:before {
  content: "\e90a";
}
.icon-tiles:before {
  content: "\e90b";
}
.icon-warning:before {
  content: "\e90c";
}
.icon-x:before {
  content: "\e90d";
}
